.contactcontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #051622;
    padding-top: 40px;
    color: #fff;
    font-family: 'Ubuntu';
    margin: 0;
}
.heading{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    font-weight: 900;
    h1{
        font-size: 3.5rem;
        font-weight: 900;
        font-family: 'Ubuntu';
    }
    .emailandtel{
        font-weight: normal;
    }
}
.content{
    width: 45%;
    text-align: justify;
    padding-bottom: 30px;
    h2{
        color: cornflowerblue;
        
    }
}

@media screen and (max-width: 576px) {
    .heading{
        width: 90%;
        h1{
            font-size: 2.5rem;
        }
    }
    .content{
        width: 90%;
    }
}
.submitbtn{
    border: none;
    outline: none;
    background-color: #2EE48D;
    padding: 0.8rem;
    font-size: 18px;
}
.submitbtn:hover{
    background-color: #6298E9 !important;
    color: #fff;
    cursor: pointer;
}
@media screen and (min-width:577px) and (max-width: 992px) {
    .content{
        width: 70%;
    }
}