html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Ubuntu',-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
     Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
}
.gradientcolor{
  
  background: linear-gradient(90deg, #2EE48D 0%, #04D2FF 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

