.cardgroup{
    margin-top: 30px !important;
    display: flex;
    flex-direction: row;
    // align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    font-size: 14px;
    .card{
        border: none;
        // border: 2px solid #555 0.5 !important;
        margin: 0px 20px 20px 20px;
        width: 20rem;
    }
    .card:hover{
        transform: scale(1.03);
        transition: all 0.5s ease;
        cursor: pointer;
    }
    a{
        text-decoration: none;
        color: rgb(64,64,64);
    }
}
@media screen and (max-width: 992px){
    
}
@media screen and (max-width: 576px) {
    .cardgroup{
        margin-top: 10px !important;
    
        .card{
            border: none;
            // border: 2px solid #555 0.5 !important;
            margin: 0px 10px 10px 10px;
        }
    }
}