.singlepostcontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
    padding-top: 40px;
    color: #000;
    font-family: 'Ubuntu';
    margin: 0;
}
.heading{
    width: 90%;
    text-align: left;
    padding: 20px;
    font-weight: 900;
    h1{
        font-size: 2.5rem;
        font-weight: 900;
        font-family: 'Ubuntu';
 
    }
    .headingauthorname{
        color: #6298E9;
    }
    .postdate{
        color: #777;
        font-style: italic;
        font-weight: 400;
    }
    .headingdivider{
        width: 100%;
        height: 4px;
        background:linear-gradient(270deg, #6298E9 7.81%, #2EE48D 100%) left bottom #777 no-repeat; 
        background-size:100% 8px ;
        margin: 0;
    }

}
.content{
    width: 90%;
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    

    .uppercontent{
        display: flex;
        flex-direction: row;

        .coverimage{
            position: relative;
            width:50vw;
            height: 60vh;
            max-height: 60vh !important;
            overflow: hidden;
            // border: 5px #2EE48D solid;
            
        }

        .postmetadata{
            // background: #2EE48D;
            width: calc(100% - 50vw);
            padding: 0px 40px;
            height: 60vh;
            overflow-y: scroll;
            .subheading{
                margin-top: 10px;
                color: #777;
                font-weight: 600;
            }
            .subcontent{
                font-size: 14px;
                text-align: justify;
                // color: #555;
                font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
            }
            
            .subcontentlist{
                display: flex;
                flex-wrap: wrap;
                list-style: none;
                margin: 0;
                padding: 0px 0px 10px 0px;
                font-size: 14px;
                
                li{
                    display: inline-block;
                    margin-right: 25px;
                }
                
            }
            .subcontentdivider{
                width: 100%;
                height: 2px;
                background:linear-gradient(270deg, #6298E9 7.81%, #2EE48D 100%) left bottom #777 no-repeat; 
                background-size:100% 8px ;
                margin: 0;
            }
            a{
                text-decoration: none;
                font-size: 14px;
            }
            
        }
    }
    
    .postcontent{
        width: 100%;
        padding: 60px;
        text-align: justify;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
        overflow-wrap: break-word;
        font-size: 1.25rem;
        img{
            max-width: 100% ;
            height: auto;
            object-fit: contain;
        }
    }
    .aboutauthor{
        width: 70%;
        display: flex;
        flex-direction: column;
        // align-items: center;
        // justify-content: center;
        padding: 0px 60px 60px 60px;
        
    }
    .commentsection{
        width:80%;
        height: auto;
    }
    .recommendpost{
        width:70%;
        height: auto;
        margin-top: 30px;
        margin-bottom: 30px;
        .headingr{
            font-weight: 600;
            font-size: 24px;
           
        }
        .date{
            color: #777;
            font-size: 12px;
            font-weight: bold;
        }
        .topic{
            font-size: 18px;
            font-weight: 600;
           
            a{
                text-decoration: none;
                
            }
        }
        .rpostcontent{
            display: flex;
            flex-direction: row;
            
            .rpostimage{
                position: relative;
                width: 40%;
                height: auto;
                margin-right: 20px;
                
            }
        }
        .rpostcontentbody{
            text-align: justify;
            // margin-left: 30px;
            a{
                text-decoration: none;
            }
        }
    }

}

@media screen and (max-width: 576px) {
    .singlepostcontainer{
        padding-top: 10px;
    }
    .heading{
        width: 98%;
        padding: 10px;
        text-align: justify;
        h1{
            font-size: 1.6rem;
        }
    }
    .content{
        width: 98%;
        padding: 20px 10px;
        display: flex;
        flex-direction: column;
        
    
        .uppercontent{
            display: flex;
            flex-direction: column;
            min-width: 100%;
            .coverimage{
                width:100%;
                min-width: 100%;
                height: 30vh;
                max-height: 55vh !important;
            }
            .postmetadata{
                // background: #2EE48D;
                width: 100% ;
                min-width: 100%;
                overflow-y: hidden;
                height: auto;
                padding: 5px 0px 20px 0px;
                font-size: 14px;
                .subheading{
                    margin-top: 5px;
                    color: #777;
                    font-weight: 600;
                }
            }
            
        }
        .commentsection{
            width:100%;
            height: auto;
        }
        .postcontent{
                padding: 0px;
                font-size: 14px;
                // font-size: 16px;
            }
            .aboutauthor{
                width: 100%;
                display: flex;
                flex-direction: column;
                // align-items: center;
                // justify-content: center;
                margin-bottom: 20px;
                padding: 0px;
                
            }
            .recommendpost{
                width: 100%;
                margin-top: 20px;

                .headingr{
                    font-size: 18px;
                }
                .date{
                    color: #777;
                    font-size: 12px;
                    font-weight: bold;
                }
                .topic{
                    font-size: 18px;
                    font-weight: 600;
                }
                .rpostcontent{
                    
                    flex-direction: column;
                    width: 100%;

                    .rpostimage{
                        
                        width: 100%;
                        height: 18vh;
                        margin: 10px 0px;
                        
                    }
                }
                .rpostcontentbody{
                    margin-left: 0px;
                    font-size: 12px;
                }
            }
    }
}